@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    To learn more about Binary Studio visit <a href="http://binary-studio.com" title="Binary Studio Website">http://binary-studio.com</a>.
</p>
